# jellyfin config settings
# URL to your jellyfin server
JELLYFIN_SERVER_URL=https://jellyfin.example.com
# Create an API key by going to: Admin>Dashboard>Advanced>API Keys
JELLYFIN_API_KEY=1a1111aa1a1a1aaaa11a11aa111aaa11
# ID of your jellyfin user. Found in the URL when you navigate to your user in the Dashboard.
JELLYFIN_USER_ID=1a1111aa1a1a1aaaa11a11aa111aaa11
# Path to your movie library directory (only needed for the BFI kermode scripts, everything else can be run remotely just using the API)
JELLYFIN_MOVIES_PATH=/movies

# misc config settings
# Flag which disables the checking of years for tv shows - can help if some get missed
DISABLE_TV_YEAR_CHECK=false