APScheduler==3.10.4
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.6.2
charset-normalizer==3.3.2
idna==3.7
loguru==0.7.2
pluginlib==0.9.2
pyaml-env==1.2.1
pytz==2024.1
PyYAML==6.0.1
requests==2.32.3
setuptools==70.0.0
six==1.16.0
soupsieve==2.5
tzlocal==5.2
urllib3==2.2.1
